@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
   box-sizing: border-box;
}


body{
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
  color:#444;
font-size:15px;
}

a {	
   text-decoration: none; 
   color: palevioletred; 
}


#header {
  padding: 30px 4% 10px;
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex; 
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;

}
 
#header>h1 {
 margin: 0; 
 padding: 0;
  color:palevioletred;
  font-size:2rem;
  font-family: 'Sacramento', cursive;

}

.menu-group {
	list-style: none;
	margin: 0;
	display: flex;
}
 
.menu-item {
	 margin: 0 0 0 15px;
   font-size: 14px;
}

.nav{
	margin: 0 0 0 auto;
}

#wrapper{

  background:ghostwhite;
  padding:5vh 0;
  min-height:100vh;
  margin-top: 100px;
}

#menu{
  width:80%;
  margin:auto;
  display:grid;
  gap:26px;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
}
#menu>div{
  background:#ffffff;
  box-shadow: 2px 2px 2px 2px #efefef;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
#menu>div>p{
  padding:1vh 2vh;
  text-align: left;
}
#menu>div>p:last-child{
  text-align: left;
}
#menu>div>img{
  width:100%;
}

#footer {
  width: 100%;
 height: 5px; 
  text-align: center;
  padding: 50px 0;
  background-color: white;
}
#footer>p {
	font-size:10px;
  color: palevioletred;
}