@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
   box-sizing: border-box;
}


body{
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
  color:#444;
font-size:15px;
}

a {	
   text-decoration: none; 
   color: dimgray;
   }


#header {
  padding: 30px 4% 10px;
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex; 
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;

}
 
#header>h1 {
 margin: 0; 
 padding: 0;
  font-size:2rem;
  font-family: 'Sacramento', cursive;

}

.maintitle{
	color:palevioletred;
}

.menu-group {
	list-style: none;
	margin: 0;
	display: flex;
}
 
.menu-item {
	 margin: 0 0 0 15px;
   font-size: 14px;
}

.nav{
	margin: 0 0 0 auto;
}

#wrapper{

  background:ghostwhite;
  padding:5vh 0;
  min-height:100vh;
  margin-top: 100px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ja,
#entry {
    font-size: 20px;
    margin: 0.5rem;
}


#btn{
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	margin: auto;
	padding: 0.5rem 2rem;
	font-weight: bold;
	border-radius: 0.3rem;
	background-color: #e9f6fb;
	border-image-source: repeating-linear-gradient(45deg, #27acd9 0, #27acd9 6px, rgba(0, 0, 0, 0) 6px, rgba(0, 0, 0, 0) 8px);
	border-image-slice: 4;
	border-width: 4px;
	border-image-repeat: round;
	border-style: solid;
	color: #27acd9;
}

#btn:hover {
	border: 4px solid #27acd9;
	color: #27acd9;
}




#img {
    
    height: 300px;
    margin: 20px;
}

#result {
	margin: 1rem;
    transition: 0.5s;
    opacity: 1;
    font-size: 20px;
    color: palevioletred;
}

#result.fade {
    opacity: 0;
}

#footer {
  width: 100%;
 height: 5px; 
  text-align: center;
  padding: 50px 0;
  background-color: white;
}
#footer>p {
	font-size:10px;
  color: palevioletred;
}